/*==========================================================================
  Main page layout
  ========================================================================== */

.list {
  padding: 0;
}

.list__item {
  float: left;
  width: 50%;
  color: #bababa;
}